---
const { name } = Astro.props;
---

<div class="flex flex-col group cursor-pointer">
    <p class="text-xl font-bold align-middle duration-150">{name}</p>
    <div class="h-1 w-4 group-hover:w-full bg-green-500 group-hover:bg-orange-600 duration-150"></div>
</div>